@mixin text {
    text-align: center;
    h2 {
        font-size: 30px;
        color: #2D3033;
    }
        hr {
            max-width: 12rem;
            border: 4px solid #F38281;
        }
}
.mixin_text {
    @include text;
}
.about_us {
    display: flex;
    text-align: center;
}
.super_team {
    display: flex;
    justify-content: space-around;
}
.super_team__one{
    position: relative;
    .active_one {
        position: absolute;
        top: 0;
        z-index: -1;
    }
}
.super_team__two{
    position: relative;
    .active_two {
        position: absolute;
        top: 0;
        z-index: -1;
    }
}
.super_team__three{
    position: relative;
    .active_three{
        position: absolute;
        top: 0;
        z-index: -1;
    }
}
.super_team__one:hover .active_one {
    transform: translateX(-1rem) translateY(-1rem);
    z-index: 1;
}
.super_team__two:hover .active_two {
    transform: translateX(-1rem) translateY(-1rem);
    z-index: 1;
}
.super_team__three:hover .active_three {
    transform: translateX(-1rem) translateY(-1rem);
    z-index: 1;
}
.people_img {
    position: relative;
    bottom: 17rem;
    left: 10rem;
}
.text_img {
    position: relative;
    bottom: 10rem;
    left: 5rem;
}
#numb_string {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #95E1D3;
}
.numb_string {
    width: 11rem;
    text-align: center;
    color: #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}