.container {
    height: 590px;
    display: flex;
    justify-content: space-around;
}
.footer_mogo {
    width: 23rem;
}
.footer_mogo_h {
    color: #C6CBCD;
}
.footer_mogo_p {
    color: #C6CBCD;
}
.footer_numb {
    font-weight: 700;
}
.footer_txt {
    font-weight: 400;
    font-style: italic;
}
.follow {
    color: #C6CBCD;
}
.email {
    height: 2.75rem;
    text-align: center;
    color: #C6CBCD;
    background: #FFFFFF;
    border: 1px solid #C6CBCD;
}
.subscribe {
    width: 7rem;
    height: 3rem;
    color:#FFFFFF;
    background-color: #95E1D3;
    border: none;
}
.footer_blogs {
    width: 29rem;
}
.blogs_one, .blogs_two, .blogs_three {
    display: flex;
}
.footer_instagram {
    width: 17rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.inst1 {
    grid-area: 1 / 1 / 2 / 2;
}
.inst2 {
    grid-area: 1 / 2 / 2 / 3;
}
.inst3 {
    grid-area: 1 / 3 / 2 / 4;
}
.inst4 {
    grid-area: 2 / 1 / 3 / 2;
}
.inst5 {
    grid-area: 2 / 2 / 3 / 3;
}
.inst6 {
    grid-area: 2 / 3 / 3 / 4;
}
.inst7 {
    grid-area: 3 / 1 / 4 / 2;
}
.inst8 {
    grid-area: 3 / 2 / 4 / 3;
}
.inst9 {
    grid-area: 3 / 3 / 4 / 4;
}
.footer_instagram> p {
    text-decoration: underline;
}
.footer_hr {
    width: 73rem;
}
.footer_h {
    display: flex;
    justify-content: center;
}