.our_stories_img {
    display: flex;
    justify-content: space-around;
}
.our_stories_img> div {
    position: relative;
}
.box {
    position: absolute;
    top: 10rem;
    left: -2rem;
    width: 5rem;
    height: 5rem;
    background-color: #95E1D3;
}
.box> span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700, Bold;
    font-size: 36px;
}
.comments {
    display: flex;
}
.comments> p {
    margin-right: 3rem;
}
.comments> img {
    max-width: 22px;
    max-height: 22px;
}
