@import url(color.css);
@import url(text.css);
@import url(section_one.css);
@import url(section_two.css);
@import url(section_three.css);
@import url(section_four.css);
@import url(section_five.css);
@import url(section_six.css);
@import url(section_seven.css);
@import url(section_eight.css);
@import url(section_nine.css);
@import url(section_ten.css);
@import url(section_eleven.css);
body {
  margin: 0;
  max-width: 1510px;
}
@media (max-width: 900px){
  .super_team {
    display: flex;
    flex-direction: column;
  }
  .people {
    display: flex;
    flex-direction: column;
  }
}