h1 {
    font-weight: 700 bold;
    font-size: 144px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}
h2 {
    font-weight: 400;
    font-size: 64px;
    font-family: 'Kaushan Script', sans-serif;
    color: #FFFFFF;
}
h3 {
    font-weight: 700 bold;
    font-size: 30px;
}
h4 {
    font-weight: 900;
    font-size: 24px;
    color: #000000;
}
h5 {
    font-weight: 400;
    font-size: 18px;
}
h6 {
    font-weight: 700 bold;
    font-size: 13px;
}